.menu {
  display: flex;

  &_li {
    margin: 10px auto;
    padding: 10px 20px;
    list-style: none;
    background-color: #c7c7c7;
    border-radius: 5px;
    &:hover {
      background-color: #35fab2;
    }
  }

  & a {
    text-decoration: none;
    color: black;
  }
}